@media only screen and (min-width:501px)
{

    *
    {
        margin:0;
        padding: 0;
        font-family: 'Quicksand', sans-serif;
        outline: none;
    }

    body
    {
        background-image: url("img/background.png");
        background-size: cover;
    }

    .header
    {
        background-color: black;
        width: 100%;
        height: 80px;
    }

    .inheader
    {
        background-color: black;
        width: 800px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    #mobilemenu
    {
        display: none;
    }

    #navbutton
    {
        display: none;
    }

    .logo
    {
        height: 100%;
        display: table;
        float: left;
    }

    .logo h1
    {
        color:white;
        display: table-cell;
        vertical-align: middle;
    }

    .navigation
    {
        float: right;
        height: 100%;
    }

    .navigation a
    {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
    }

    .navigation a li
    {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 15px;
    }

    .navigation a:hover
    {
        background: rgb(26, 26, 26);
    }

    a:visited
    {
        color: white;
        text-decoration: none;
    }

    a:link
    {
        color: white;
        text-decoration: none;
    }

    .container
    {
        margin-top: 10px;
        height: 550px;
        width: 85%;
        margin-left: 7.5%;
        background-color: #919191df;
    }

    .discord iframe
    {
        margin-right: 2.2%;
        margin-top: 20px;
        float: right;
        width: 30%;
        height: 495px;
    }

    .donators
    {
        height: 495px;
        width: 30%;
        background-color: green;
        float: right;
        margin-top: 20px;
        margin-right: 3%;
    }

    .donatorsl
    {
        height: 39.6px;
        width: 100%;
        background-color: rgb(0, 114, 49);
        color: white;
        text-align: center;
        font-size: 30px;
    }

    .donatorstl
    {
        height: 39.6px;
        width: 80%;
        background-color: rgb(0, 114, 49);
        margin-top: 1.5%;
        margin-left: 10%;
        text-align: center;
        color: white;
        vertical-align: middle;
        list-style: none;
        font-size: 20px;
    }

    .aboutus
    {
        height: 495px;
        width: 30%;
        background-color: rgb(216, 51, 51);
        float: right;
        margin-top: 20px;
        margin-right: 2%;
        color: white;
    }

    .aboutusl
    {
        height: 40px;
        width: 100%;
        background: rgb(184, 0, 0);
        color: white;
        text-align: center;
        font-size: 30px;
        list-style: none;
    }

    .mapbox
    {
        display: none;
    }

    .discordbutton
    {
        display: none;
    }

    .donatebutton
    {
        display: none;
    }

    .playersbutton
    {
        display: none;
    }

    .map
    {
        border: solid 2px white;
        color: white;
        font-size: 46px;
        text-align: center;
    }

    .map iframe
    {
        border: none;
        width: 100%;
        height: 100%;
    }

    .content h1
    {
        color: white;
        text-align: center;
    }

    #team
    {
        margin: auto;
        width: 90%;
        height: 210px;
        border-bottom: solid 2px #78a2ff;
    }

    .team-box
    {
        float: left;
        margin-left: 20%;
        width: 20%;
        height: 200px;
    }

    .team-mem
    {
        margin: auto;
        width: 150px;
        height: 150px;
        border-radius: 85px;
        background: #f5f5f5;
    }

    .team-mem img
    {
        width: 100%;
        height: 100%;
        border-radius: 85px;
    }

    .team-mem-desc
    {
        text-align: center;
        font-size: 20px;
        color: white;
        cursor: default;
    }

    #datapacks
    {
        margin: auto;
        width: 90%;
        color: white;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: solid 2px #78a2ff;
    }

    .datapack
    {
        margin: auto;
        margin-top: 15px;
        height: 50px;
        width: 450px;
        background: #000;
        border-radius: 15px;
    }

    .dp-status-on
    {
        height: 100%;
        width: 65px;
        background: #76ff37;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    

    .dp-status-off
    {
        height: 100%;
        width: 65px;
        background: #ff3737;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .dp-status-wip
    {
        height: 100%;
        width: 65px;
        background: #4524ff;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .dp-icon
    {
        height: 100%;
        width: 60px;
        background: #ffffff;
        float: left;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .dp-text
    {
        width: 390px;
        float: right;
        display: table;
        cursor: default;
    }

    .dp-text a
    {
        display: table-cell;
        list-style: none;
        text-align: center;
        padding-top: 10px;
        font-size: 25px;
    }

    .donate-box
    {
        float: left;
        margin-left: 25%;
        margin-top: 15px;
        width: 50%;
        height: 300px;
        background: rgb(17, 180, 255);
        border-radius: 32px;
    }

    .donate-box h1
    {
        padding-top: 10px;
    }

    .donate-box h1:hover
    {
        cursor: default;
    }

    .donate-box h2:hover
    {
        cursor: default;
    }

    .donate-box h2
    {
        padding-top: 5px;
        color: blue;
        text-align: center;
    }

    .donate-box button
    {
        margin-top: 40px;
        margin-left: 30%;
        width: 40%;
        height: 75px;
        background: rgb(104, 207, 255);
        border-radius: 32px;
        color: white;
        font-size: 32px;
        border: none;
    }

    .donate-box input
    {
        margin-top: 40px;
        margin-left: 17%;
        width: 65%;
        height: 45px;
        background: rgb(104, 207, 255);
        border-radius: 16px;
        font-size: 24px;
        color: white;
        border: white solid 2px;
        text-align: center;
    }

    .donate-box-direct
    {
        display: table;
        float: left;
        margin-left: 25%;
        margin-top: 15px;
        width: 50%;
        height: 100px;
        background: rgb(0, 201, 17);
        border-radius: 32px;
    }

    .donate-box-direct a
    {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-size: 42px;
    }

    .donate-box-direct a:hover
    {
        cursor: pointer;
    }
}

@media only screen and (max-width:500px)
{

    *
    {
        margin:0;
        padding: 0;
        font-family: 'Quicksand', sans-serif;
        outline: none;
    }

    body
    {
        background-image: url("img/background.png");
        background-size: cover;
    }

    .header
    {
        background-color: black;
        width: 100%;
        height: 80px;
    }

    .inheader
    {
        background-color: black;
        width: 300px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    #mobilemenu
    {
        display: none;
        position: absolute;
        background-color: rgb(48, 48, 48);
        width: 100%;
        height: 300px;
    }

    #navbutton
    {
        display: block;
        float: left;
        margin-left: 15%;
    }

    #navbutton button
    {
        display: table;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
    }

    #navbutton i
    {
        display: table-cell;
        font-size: 34px;
        vertical-align: middle;
        color: white;
    }

    .logo
    {
        height: 100%;
        display: table;
        float: left;
    }

    .logo h1
    {
        color:white;
        display: table-cell;
        vertical-align: middle;
        font-size: 26px;
    }

    .navigation
    {
        height: 100%;
        display: none;
    }

    .navigation a
    {
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
    }

    .navigation a li
    {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 15px;
    }

    a:visited
    {
        color: white;
        text-decoration: none;
    }

    a:link
    {
        color: white;
        text-decoration: none;
    }

    .container
    {
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        height: 2030px;
        width: 80%;
        background-color: #919191df;
    }

    .discord iframe
    {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        display: table;
        width: 80%;
        height: 450px;
    }

    .space
    {
        height: 20px;
        width: 80%;
        margin: auto;
    }

    .donators
    {
        height: 495px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        background-color: green;
        display: table;
    }

    .donatorsl
    {
        height: 30px;
        width: 100%;
        background-color: rgb(0, 114, 49);
        color: white;
        text-align: center;
        font-size: 20px;
    }

    .donatorstl
    {
        height: 39.6px;
        width: 80%;
        background-color: rgb(0, 114, 49);
        margin-top: 1.5%;
        margin-left: 10%;
        text-align: center;
        color: white;
        vertical-align: middle;
        list-style: none;
        font-size: 20px;
    }

    .aboutus
    {
        height: 495px;
        width: 80%;
        background-color: rgb(216, 51, 51);
        margin: auto;
        margin-top: 20px;
        color: white;
    }

    .aboutusl
    {
        height: 40px;
        width: 100%;
        background: rgb(184, 0, 0);
        color: white;
        text-align: center;
        font-size: 30px;
        list-style: none;
    }

    .mapbox
    {
        height: 495px;
        width: 80%;
        background-color: rgb(11, 0, 161);
        margin: auto;
        margin-top: 20px;
        color: white;
    }

    .mapbox1
    {
        height: 40px;
        width: 100%;
        background: rgb(54, 32, 255);
        color: white;
        text-align: center;
        font-size: 30px;
        list-style: none;
    }

    .mapbox iframe
    {
        width: 100%;
        height: 455px;
        border: none;
    }

    .discordbutton
    {
        height: 50px;
        width: 80%;
        background-color: #5639c0;
        margin: auto;
        margin-top: 20px;
        display: table;
    }

    .discordbutton a
    {
        display: table-cell;
        vertical-align: middle;
        color: white;
        list-style: none;
        text-align: center;
        font-size: 24px;
    }

    .donatebutton
    {
        height: 50px;
        width: 80%;
        background-color: #006905;
        margin: auto;
        margin-top: 20px;
        display: table;
    }

    .donatebutton a
    {
        display: table-cell;
        vertical-align: middle;
        color: white;
        list-style: none;
        text-align: center;
        font-size: 24px;
    }

    .playersbutton
    {
        height: 50px;
        width: 80%;
        background-color: #1fb891;
        margin: auto;
        margin-top: 20px;
        display: table;
    }

    .playersbutton a
    {
        display: table-cell;
        vertical-align: middle;
        color: white;
        list-style: none;
        text-align: center;
        font-size: 24px;
    }

    .homebutton
    {
        height: 50px;
        width: 80%;
        background-color: #1abd22;
        margin: auto;
        margin-top: 20px;
        display: table;
    }

    .homebutton a
    {
        display: table-cell;
        vertical-align: middle;
        color: white;
        list-style: none;
        text-align: center;
        font-size: 24px;
    }

    .map
    {
        border: solid 2px white;
        color: white;
        font-size: 46px;
        text-align: center;
    }
  
    .map iframe
    {
        border: none;
        width: 100%;
        height: 100%;
    }

    .content h1
    {
        color: white;
        text-align: center;
    }
    
    #team
    {
        border-bottom: solid 2px #78a2ff;
        padding-bottom: 10px;
    }

    .team-mem
    {
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
        border-radius: 85px;
        background: #f5f5f5;
    }

    .team-mem img
    {
        width: 100%;
        height: 100%;
        border-radius: 85px;
    }

    .team-mem-desc
    {
        text-align: center;
        font-size: 20px;
        color: white;
        cursor: default;
    }

    #datapacks
    {
        color: white;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: solid 2px #78a2ff;
    }

    .datapack
    {
        margin: auto;
        margin-top: 15px;
        height: 50px;
        width: 100%;
        background: #000;
        border-radius: 15px;
    }

    .dp-status-on
    {
        height: 100%;
        width: 19%;
        background: #76ff37;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .dp-status-off
    {
        height: 100%;
        width: 19%;
        background: #ff3737;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .dp-status-wip
    {
        height: 100%;
        width: 19%;
        background: #4524ff;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .dp-icon
    {
        height: 100%;
        width: 93%;
        background: #ffffff;
        float: left;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .dp-text
    {
        width: 80%;
        float: right;
        display: table;
    }

    .dp-text a
    {
        display: table-cell;
        list-style: none;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }

    .donate-box
    {
        float: left;
        margin-left: 2.5%;
        margin-top: 15px;
        width: 95%;
        height: 300px;
        background: rgb(17, 180, 255);
        border-radius: 32px;
    }

    .donate-box h1
    {
        padding-top: 10px;
        font-size: 32px;
    }

    .donate-box h2
    {
        font-size: 15px;
        padding-top: 2px;
        color: blue;
        text-align: center;
    }

    .donate-box button
    {
        margin-top: 20px;
        margin-left: 10%;
        width: 80%;
        height: 75px;
        background: rgb(104, 207, 255);
        border-radius: 32px;
        color: white;
        font-size: 32px;
        border: none;
    }

    .donate-box input
    {
        margin-top: 40px;
        margin-left: 17%;
        width: 65%;
        height: 45px;
        background: rgb(104, 207, 255);
        border-radius: 16px;
        font-size: 24px;
        color: white;
        border: white solid 2px;
        text-align: center;
    }

    .donate-box-direct
    {
        display: table;
        float: left;
        margin-left: 2.5%;
        margin-top: 15px;
        width: 95%;
        height: 100px;
        background: rgb(0, 201, 17);
        border-radius: 32px;
    }

    .donate-box-direct a
    {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-size: 42px;
    }
}