@media only screen and (min-width: 800px) 
{
body
{
	background-image: url("bg/BGB.png");
	background-size: cover;
	font: Verdana;
	font-size: 34;
	color:white;
}

h1
{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#menu
{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: #32a838;
	color: white;
	margin-top: 15px;
	padding:10px;
}

.menustyle
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 25px;
	padding: 10px;
	border-right: 1px dotted white;
}

.menustyle:hover
{
	background-color: #1e5e21;
	cursor: pointer
}

.menustyle2
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 25px;
	padding: 10px;
}

.discord
{
	margin-top: 7px;
	float: right;
	margin-right: 280px;
}

a:link
{
	color:white;
	text-decoration: none;
}

a:visited
{
	color:white;
	text-decoration: none;
}

#ss1
{
	margin-top: 7px;
	margin-left: 285px;
}

#ss2
{
	margin-top: 9px;
	margin-left: 285px;
}

#footer
{
	width: 390px;
	margin-left: 285px;
	margin-right: auto;
	background-color: #32a838;
	color: white;
	margin-top: 15px;
	padding:10px;
	font-size: 12px;
	text-align: center;
}
}

@media only screen and (max-width: 800px)  {
	body
	{
		background-image: url("bg/BGB.png");
		background-size: cover;
		font: Verdana;
		font-size: 34;
		color:white;
	}
	
	h1
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	#menu
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #32a838;
		color: white;
		margin-top: 5%;
		padding:5%;
	}
	
	.menustyle
	{
		float: center;
		min-width: 5%;
		height: 5%;
		font-size: 20px;
		padding: 3%;
	}
	
	.menustyle2
	{
		float: left;
		min-width: 50px;
		height: 25px;
		font-size: 25px;
		padding: 10px;
	}
	
	.discord
	{
		margin-top: 7px;
		margin-left: 15%;
		display: inline-block;
		align-content: center;
	}
	
	a:link
	{
		color:white;
		text-decoration: none;
	}
	
	a:visited
	{
		color:white;
		text-decoration: none;
	}
	
	#ss1
	{
		margin-top: 5%;
		margin-left: 7%;
		align-content: center;
		display: inline-block;
	}
	
	#ss2
	{
		margin-top: 5%;
		margin-left: 7%;
		align-content: center;
		display: inline-block;
	}
	
	#footer
	{
		width: 35%;
		margin-left: 33%;
		margin-right: auto;
		background-color: #32a838;
		color: white;
		margin-top: 15px;
		padding:10px;
		font-size: 20px;
		text-align: center;
	}
	
}